//
//  Debug.xcconfig
//  mvvm-combine-uikit
//
//  Created by Thân Văn Thanh on 15/09/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "./Pods/Target Support Files/Pods-mvvm-combine-uikit/Pods-mvvm-combine-uikit.debug.xcconfig"

PRODUCT_NAME = MVVM-Combine(Debug)
APP_NAME = MVVM-Combine
PRODUCT_BUNDLE_IDENTIFIER = com.mvvm-uikit.demo.testflight
MARKETING_VERSION = 1.0.0
CURRENT_PROJECT_VERSION = 1
OTHER_SWIFT_FLAGS = -D ENDPOINT_DEBUG
