//
//  Debug.xcconfig
//  Base-ios
//
//  Created by Thân Văn Thanh on 30/08/2023.

//// Common Configuration
#include "./Pods/Target Support Files/Pods-Base-ios/Pods-Base-ios.adhoc.xcconfig"
#include "config/iOS/xcconfig/Common.xcconfig"

//// App target bundle identifier
AS_BUNDLE_IDENTIFIER = com.thanhthan.adhoc.ios
/// Notification Service target bundle identifier
AS_BUNDLE_ID_NOTIFSERV = com.thanhthan.adhoc.ios.notificationservice
/// Notification Content target bundle identifier
AS_BUNDLE_ID_NOTIFCONTENT = com.thanhthan.adhoc.ios.notificationcontent

/// App Name
AS_APP_NAME = Base-ios Adhoc
/// App Icon
AS_APP_ICON = AppIcon Adhoc
/// ProjectEnvironment
AS_APP_ENVIRONMENT = Adhoc
